@{
    ViewData["Title"] = "FAQ";
}

<div class="container-faq">
    <h2 class="faq-title">FAQ</h2>
    <div class="accordion-faq">
        <div class="accordion-item-faq">
            <button id="accordion-button-1-faq" aria-expanded="false">
                <span class="accordion-title-faq">What is a boxed meal diet?</span>
                <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content-faq">
                <p>
                    A boxed meal diet, also known as a meal delivery diet or a meal plan service, is a dietary approach where pre-portioned and
                    balanced meals are delivered directly to the individual's doorstep. The meals are conveniently packaged in individual
                    containers or boxes, ready to be consumed without the need for extensive meal preparation or cooking.
                </p>
            </div>
        </div>
        <div class="accordion-item-faq">
            <button id="accordion-button-1-faq" aria-expanded="false">
                <span class="accordion-title-faq">What types of meals are offered in box catering?</span>
                <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content-faq">
                <p>
                    We offer a wide variety of meals to cater to different tastes, preferences, and dietary needs. You can choose your diet
                    and a number of calories you need and we will prepare tasty and unique meals.
                </p>
            </div>
        </div>
        <div class="accordion-item-faq">
            <button id="accordion-button-1-faq" aria-expanded="false">
                <span class="accordion-title-faq">What are the delivery hours for the diets?</span>
                <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content-faq">
                <p>The delivery hours for the diets are from 2:00 AM to 9:00 AM (day of order fulfillment).</p>
            </div>
        </div>
        <div class="accordion-item-faq">
            <button id="accordion-button-1-faq" aria-expanded="false">
                <span class="accordion-title-faq">Where are the diet packages left?</span>
                <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content-faq">
                <p>
                    The most preferred method of delivery for us is to hand over the diet package directly to the customer.
                    Sets that are delivered during the late-night/early-morning hours are left at the specified address outside the door.
                </p>
            </div>
        </div>
        <div class="accordion-item-faq">
            <button id="accordion-button-1-faq" aria-expanded="false">
                <span class="accordion-title-faq">What types of dietary restrictions or preferences does the box catering service accommodate?</span>
                <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content-faq">
                <p>
                    The box catering service accommodates a range of dietary restrictions and preferences. This includes options for vegetarian,
                    vegan, gluten-free, dairy-free, and other specific dietary needs. The service strives to provide diverse and customizable meal
                    choices to cater to various dietary requirements and personal preferences.
                </p>
            </div>
        </div>
    </div>
</div>