<div>
    <h2 class="title">FAQ</h2>
    <div class="content">
        <div class="textBox">
            <div class="accordion">
                <div class="contentBx">
                    <div class="label">What is a boxed meal diet?</div>
                    <div class="content">
                        <p>
                            A boxed meal diet, also known as a meal delivery diet or a
                            meal plan service, is a dietary approach where pre-portioned
                            and balanced meals are delivered directly to the individual's
                            doorstep. The meals are conveniently packaged in individual
                            containers or boxes, ready to be consumed without the need for
                            extensive meal preparation or cooking.
                        </p>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label">How does meal delivery diet work?</div>
                    <div class="content">
                        <p>
                            You have the freedom to select and order your desired diet
                            plan. Our team diligently prepares fresh, flavorful meals,
                            carefully packaging them with care. Delivered right to your
                            doorstep on designated days, you simply need to heat up your
                            meal and indulge in its deliciousness. With minimal effort
                            required, you can enjoy the convenience and satisfaction of
                            our expertly crafted meals.
                        </p>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label">
                        What types of meals are offered in box catering?
                    </div>
                    <div class="content">
                        <p>
                            We offer a wide variety of meals to cater to different tastes,
                            preferences, and dietary needs. You can choose your diet and a
                            number of calories you need and we will prepare tasty and
                            unique meals
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>