@{
    ViewData["Title"] = "Home";
}

<div class="centered">
    <div class="content-offer">
        
        <div key={product.id} class="product-card">
            <img src="~/images/meat-diet.png" alt="Product" class="product-image" />
            <div class="product-name">Meat diet</div>
            <div class="product-price">120$</div>
        </div>
        
    </div>
</div>