@{
    ViewData["Title"] = "Home";
}

<div class="home-page-content">
    <div class="textBox-home">
        <div class="slogan">
            <img src="~/images/home/yummy.svg">
            <h2>, the best choice of meals for every day!</h2>
        </div>
        <p>A nutrient-packed, tasty meal for every day of<br>the week just a few clicks away.</p>
        <a class="signup-button" href="#">
            <span>Sign up</span>
            <img src="~/images/icons/log-in.svg">
        </a>
    </div>
    <div class="home-imgBox">
        <img src="~/images/home/header-img.png">
    </div>
</div>