@{
    ViewData["Title"] = "Home Page";
}

<div class="textBox">
    <h2>Cateringboxes, the best choice<br>for meals for every day!</h2>
    <p>A nutrient-packed, tasty meal for every day of<br>the week just a few clicks away.</p>
    <a class="cta" href="#"><button>Sign up</button></a>
</div>
<div class="imgBox">
    <img src="Images/header-img.png" class="food">
</div>