@using catering.Application.Managements.OrderManagment.OrderDto;
@model GuestAdressDto

<div class="center-container-guest">
    <div class="container-guest">
        <div class="image-guest">
            <img src="~/images/guest/guest-header.jpg" alt="Logo">
        </div>
        <form class="content-guest" id="account" action="/Order/OrderAsGuest" method="post">
            <div class="logo-guest">
                <img src="~/images/yummy-logo.svg" alt="Logo">
            </div>
            <h1 class="guest-title">Order as Guest</h1>
            <p class="guest-paragraph">Give us your an address where you want your meals to be delivered</p>

            <div class="input guest-input">
                <input class="input_field guest-input_field" type="text" autocomplete="new-password" aria-required="true" asp-for="Adress1"
                       placeholder=" " />
                <span class="input_label">
                    <img src="~/images/icons/home-yellow.svg" class="input_icon" />
                    Address 1
                </span>
                <span asp-validation-for="Adress1" class="error"></span>
            </div>

            <div class="input guest-input">
                <input class="input_field guest-input_field" type="text" autocomplete="new-password" aria-required="true" asp-for="Adress2"
                       placeholder=" " />
                <span class="input_label">
                    <img src="~/images/icons/home-yellow.svg" class="input_icon" />
                    Address 2
                </span>
                <span asp-validation-for="Adress2" class="error"></span>
            </div>

            <div class="guest-two-in-one-inputs">
                <div class="input guest-small-input">
                    <input class="input_field guest-input_field" type="text" autocomplete="new-password" aria-required="true" asp-for="PostalCode"
                           placeholder=" " />
                    <span class="input_label">
                        <img src="~/images/icons/map-pin-yellow.svg" class="input_icon" />
                        Pastal code
                    </span>
                    <span asp-validation-for="PostalCode" class="error"></span>
                </div>

                <div class="input guest-small-input">
                    <input class="input_field guest-input_field" type="text" autocomplete="new-password" aria-required="true" asp-for="State"
                           placeholder=" " />
                    <span class="input_label">
                        <img src="~/images/icons/map-pin-yellow.svg" class="input_icon" />
                        State/Region
                    </span>
                    <span asp-validation-for="State" class="error"></span>
                </div>
            </div>

            <div class="input guest-input">
                <input class="input_field guest-input_field" type="text" autocomplete="new-password" aria-required="true" asp-for="Country"
                       placeholder=" " />
                <span class="input_label">
                    <img src="~/images/icons/globe-yellow.svg" class="input_icon" />
                    Country
                </span>
                <span asp-validation-for="Country" class="error"></span>
            </div>

            <div class="input guest-input">
                <input class="input_field guest-input_field" type="tel" autocomplete="new-password" aria-required="true" asp-for="PhoneNumber"
                       placeholder=" " />
                <span class="input_label">
                    <img src="~/images/icons/phone-yellow.svg" class="input_icon" />
                    Phone number
                </span>
                <span asp-validation-for="PhoneNumber" class="error"></span>
            </div>


            <button class="btn-with-icon" type="submit">
                Go to payment
            </button>
        </form>
    </div>
</div>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}