/* NAV BAR */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter';
    color: #19191A;
}

body {
	background-color: #fff;
}

nav {
	position: relative;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1rem 1.5rem;
}

nav img {
	padding: 0.5rem 1rem;
	padding-right: calc(1rem - 5px);
}


.menu {
	display: none;
	align-items: center;
	margin: 0 -1rem;
}

.menu button{
    background-color: #FFE083;
    border: none;
    border-radius: 50px;
    padding: 9px 25px;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.3s ease-out 0s;
    font-weight: 700;
}

.menu button:hover {
    background-color: #F2C94C;
}

.menu a {
	margin: 0 1rem;
    font-weight: 700;
	text-decoration: none;
    transition: all 0.3s ease-out 0s;;
}

.menu a:hover {
	color: #FFE083;
}

.hamburger {
	appearance: none;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
	display: block;
	width: 2rem;
	height: 2rem;
}

.hamburger span {
	font-size: 2rem;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 98;
	padding-top: 6rem;
	opacity: 0;
	transform: translateY(-100%);
	background-color: #fff;
	transition: 0.3s;
}

.mobile-menu.is-open {
	opacity: 1;
	transform: translateY(0);
}

.mobile-menu a {
	display: block;
	padding: 1rem;
	text-decoration: none;
	font-size: 1.25rem;
	transition: 0.3s;
    font-weight: 700;
}

.mobile-menu a:hover {
	color: #FFE083;
	background-color: #FFF;
}

.mobile-menu button{
    background-color: #FFE083;
    border: none;
    border-radius: 50px;
    padding: 9px 25px;
    cursor: pointer;
    transition: all 0.3s ease-out 0s;
    font-weight: 700;
    margin-top: 20px;
}

.mobile-menu button:hover {
    background-color: #F2C94C;
}

@media (min-width: 768px) {
	.mobile-menu, .hamburger {
		display: none;
	}

	.menu {
		display: flex;
	}
}

/* CONTENT */

.title-center{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px; 
    text-align: center;
    margin: 0px 0px 40px 0px;
}
.title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px; 
    margin: 0px 0px 40px 262px;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 150px;
}

    .content .textBox{
        position: relative;
        max-width: 1000px;
    }
    

        .content .textBox h2{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;    
        }

        .conent .textBox title{
            align-items:stretch;
        }

        .content .textBox p{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;

        }

        .content .textBox a{
            display: inline-block;
            margin-top: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            text-decoration: none;
        }

        

        .content .container{
            display: flex;
            justify-content: space-around;

        }

        .content .textBox section{
            min-height: 48px;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            box-shadow: 1px 6px 14px grey;
            
        }

        .content .textBox .substance{
            border: 1px solid #FFE083;
        }

       

    .content .imgBox .index{
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

        .content .imgBox img{
            max-width: 900px;
        }  



/*FAQ*/
.accordion{
    width: 800px;
}
.accordion .contentBx{
    position: relative;
    margin: 10px 20px;

}

.accordion .contentBx .label{
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    min-height: 48px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 6px 14px grey;
    cursor: pointer;
}

.accordion .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    
}

.accordion .contentBx.active .label::before{
content: '-';
}


.accordion .contentBx .content{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    
    
}

.accordion .contentBx .content p{
    font-size: 18px;
    text-align: center;
}


.accordion .contentBx.active .content{
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 6px 14px grey;
    

}

/*Cart*/
.content_cart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_checkbx{
    max-width: 1000px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

.container_checkbx div{
    margin: 10px;

}

.container_checkbx div label{
    cursor: pointer;
}

.container_checkbx div label input[type="radio"]
{
    display: none;
}

.container_checkbx div label input[type="checkbox"]
{
    display: none;
}

.container_checkbx div label span{
    position: relative;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
}

.container_checkbx div label span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255,255,255,.1);
}

.container_checkbx div label input[type="radio"]:checked ~ span
{
    border: 1px solid #F2C94C;
    color: #F2C94C;
}

.container_checkbx div label input[type="checkbox"]:checked ~ span
{
    border: 1px solid #F2C94C;
    color: #F2C94C;
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 1200px;
    left: calc(50% - 1200px/2);
    bottom: 0px;
}

footer > * {
    margin-bottom: 15px;
}

.menu-footer {
	align-items: center;
}

.menu-footer a {
	margin: 0 1rem;
    font-weight: 700;
	text-decoration: none;
    transition: all 0.3s ease-out 0s;;
}

.menu-footer a:hover {
	color: #FFE083;
}

.socials{
    display: flex;
    justify-content: space-between;
}

.socials img{
    padding: 0px 5px;
}