<div class="payment-container">
    <div class="payment-centered">
        <img class="payment-image" src="~/images/payment/card-logo.svg">
        <h1 class="payment-h1">Pay for your order</h1>
        <h2 class="payment-h2">Your culinary adventure awaits!
            <br> Simply proceed the payment process to secure your exquisite box catering and indulge in a feast of flavors.
        </h2>
        <button class="btn-with-icon payment-btn-with-icon">
            Pay 
            <img src="~/images/icons/card/card.svg"> 
            </button>
    </div>
</div>