.main-admin {
    width: 100%;
    height: 60vh;
    margin-bottom: 30px;
}

.left-icon-panel-admin {
    position: absolute;
    left: 2vh;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 35px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #E6EAED;
    z-index: 1;
}

.icon {
    margin-left: 25px;
    margin-bottom: 25px;
}

    .icon img {
        width: 35px;
        height: 35px;
        transition: filter 0.3s ease-in-out; /* Add a transition effect for smooth color change */
    }

.admin-left-panel-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.hidden-admin {
    display: none;
}

.section-admin {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.div-actions-admin {
    width: 131vh;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.search-bar-admin {
    width: 30vh;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
}

.div-search-bar-admin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 131vh;
    padding: 15px 15px 15px 0;
}

.counter-container-admin {
    display: flex;
    align-items: center;
}

.search-counter-admin,
.search-counter-results-admin {
    padding-left: 20px;
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
}

.search-counter-results-admin {
    padding-left: 3px;
}

.title-admin {
    display: inline-block;
    font-weight: normal;
}

.create-button-admin {
    display: inline-block;
    border: none;
    background-color: var(--light-yellow);
    border-radius: 10px;
    padding: 8px;
    padding-top: 4px;
    cursor: pointer;
    outline: none;
    position: relative;
    top: -5px;
}

    .create-button-admin img {
        position: relative;
        top: 4px;
        width: 20px;
        height: 20px;
    }

.div-with-table-admin {
    flex-direction: column;
    position: relative;
    top: 1vh;
}


/*table products admin*/
.table-div-admin {
    overflow: auto;
    height: 420px;
    width: 131vh;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 6.1vh;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 56px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 22vh;
    max-width: 22vh;
}

th {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--light-grey);
}

thead th {
    position: sticky;
    top: 0;
    background-color: #E6EAED;
    z-index: 1;
}

.delete-button-admin {
    background-color: var(--light-yellow);
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 8px 8px;
    padding-top: 4px;
    position: relative;
    left: -15px;
    cursor: pointer;
    font-weight: bold;
    z-index: 0;
}

    .delete-button-admin:hover {
        background-color: var(--main-color);
    }

    .delete-button-admin img {
        width: 20px;
        height: 20px;
        position: relative;
        top: 5px;
    }

td:hover {
    white-space: normal;
    overflow: visible;
    position: relative;
    z-index: 0;
}

    td:hover::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        padding: 10px;
        max-width: 340px;
        overflow: auto;
    }

/* admin page modal */

.modal-admin {
    padding-top: 20vh;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-product-content-admin {
    background-color: #fefefe;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    height: 440px;
    align-items: center;
}

.modal-discount-content-admin {
    background-color: #fefefe;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    height: 300px;
    align-items: center;
}

.close-admin {
    color: #aaa;
    float: right;
    margin-top: -15px;
    font-size: 32px;
}

    .close-admin:hover,
    .close-admin:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.modal-title-admin {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.form-group-admin {
    margin-bottom: 15px;
}

    .form-group-admin label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-group-admin input,
    .form-group-admin textarea,
    .form-group-admin .file-input-modal-admin {
        border-radius: 15px;
        border: 1px solid #ccc;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .form-group-admin textarea {
        resize: none;
        height: 100px;
    }

.buttons-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


    .buttons-admin button {
        border-radius: 1px;
        border: none;
        padding: 12px 30px;
        padding-top: 4px;
        margin-left: 5px;
        cursor: pointer;
        font-weight: bold;
    }

.modal-cancel-admin {
    background-color: #ccc;
    border-radius: 1px;
}

    .modal-cancel-admin:hover {
        background-color: #999;
    }

.modal-create-admin {
    background-color: var(--light-yellow);
    color: #000000;
    border-radius: 1px;
}

    .modal-create-admin:hover {
        background-color: var(--main-color);
    }

.modal-cancel-admin img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin-left: 5px;
}

.modal-create-admin img {
    width: 22px;
    height: 22px;
    position: relative;
    top: 6px;
}

/* File input styling */

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

    .file-input label {
        display: block;
        position: relative;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        background: var(--light-yellow);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        cursor: pointer;
        transition: transform .2s ease-out;
    }

        .file-input label:hover {
            background: var(--main-color);
        }

        .file-input label img {
            position: relative;
            top: -2px;
            margin-left: 10px;
            width: 30px;
            height: 30px;
        }

.file-name {
    position: absolute;
    bottom: -35px;
    left: 10px;
    font-size: 0.85rem;
    color: #555;
}
