<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - catering.MVC</title>
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/offer.css" />
    <link rel="stylesheet" href="~/css/faq.css" />
    <link rel="stylesheet" href="~/css/content.css" />
</head>
<body>
    <header>
        <nav>
            <img src="~/images/logo.svg"/>

            <div class="menu" alt="Logo">
                <a asp-area="" asp-controller="Offer" asp-action="Index">Offer</a>
                <a asp-area="" asp-controller="Home" asp-action="FAQ">About</a>
                <a asp-area="" asp-controller="Home" asp-action="Index">Cart</a>
                <a asp-area="" asp-controller="Home" asp-action="Index">Contact</a>
                <button>Log in</button>
            </div>

            <button class="hamburger">
                <span class="material-icons">menu</span>
            </button>
        </nav>

        <div class="mobile-menu">
            <a href="#">Offer</a>
            <a href="#">FAQ</a>
            <a href="#">Cart</a>
            <a href="#">Contact</a>
            <button>Sign in</button>
        </div>
    </header>

    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <img src="~/images/logo.svg" class="logo-footer" />
        <div class="menu-footer">
            <a asp-area="" asp-controller="Offer" asp-action="Index">Offer</a>
            <a asp-area="" asp-controller="Home" asp-action="FAQ">About</a>
            <a asp-area="" asp-controller="Home" asp-action="Index">Cart</a>
            <a asp-area="" asp-controller="Home" asp-action="Index">Contact</a>
        </div>
        <div class="socials">
            <img src="~/images/Facebook.svg" />
            <img src="~/images/Instagram.svg" />
        </div>
        <a>Copyrights © 2023</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
