.input {
    position: relative;
    display: block;
    margin: 5px;
}

input:-webkit-autofill {
    -webkit-box-shadow : 0 0 0 30px white inset !important;
}

.input_field {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: none;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    transition: border-bottom-color 0.3s ease;
    caret-color: var(--main-color);
}

    .input_field:focus {
        outline: none;
        border-bottom-color: var(--light-grey);
    }

.input_label {
    padding: 0 5px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #999;
    pointer-events: none;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.input_icon {
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.input_field:focus + .input_label,
.input_field:not(:placeholder-shown) + .input_label {
    top: -8px;
    font-size: 12px;
    color: var(--light-grey);
}

    .input_field:focus + .input_label .input_icon {
        transform: scale(0.8);
    }

.error {
    color: red;
    font-size: 12px;
}

.remember-me-container {
    margin-right: 37%;
    display: flex;
    align-items: center;
}

.remember-label {
    opacity: 0.7;
    margin-left: 5px;
}

.remember-me-login {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    outline: none;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

    .remember-me-login:checked::before {
        content: url("../../images/icons/check.svg");
        position:relative;
        left: -2.5px;
        top: -2px;
    }

    .remember-me-login:checked {
        background-color: var(--main-color);
    }


.flatpickr-calendar {
    background-color: #ffffff !important;
}

.flatpickr-day.selected {
    border: none !important;
    background-color: var(--main-color) !important;
}

    .flatpickr-day.selected:hover {
        border: none !important;
        background-color: var(--light-yellow) !important;
    }

    .flatpickr-day.selected span {
        width: 25px !important;
        height: 25px !important;
    }

.flatpickr-weekdaycontainer span {
    color: #000000 !important;
}

.flatpickr-calendar {
    background-color: #ffffff !important;
}

.flatpickr-day.selected {
    border: none !important;
    background-color: var(--main-color) !important;
}

    .flatpickr-day.selected:hover {
        border: none !important;
        background-color: var(--light-yellow) !important;
    }

    .flatpickr-day.selected span {
        width: 25px !important;
        height: 25px !important;
    }

.flatpickr-weekdaycontainer span {
    color: #000000 !important;
}

.flatpickr-monthDropdown-months {
    font-family: "Inter" !important;
    font-size: 20px !important;
}