
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="content-access-denied">
    <div class="centered-access-denied">
        <img class="image-access-denied" src="~/images/access-denied/logo.svg">
        <h1 class="text-access-denied">YOU SHALL NOT PASS</h1>
    </div>
</div>