@using catering.Application.Managements.AccountManagment.Querries.Login;

@model LoginQuerry
<div class="center-container-login">
    <div class="container-login">
        <div class="image-login">
            <img src="~/images/login/login-header.jpg" alt="Logo">
        </div>
        <form class="content-login" id="account" method="post" action="/Account/Login">
            <div class="logo-login">
                <img src="~/images/yummy-logo.svg" alt="Logo">
            </div>
            <h1>Hello again!</h1>
            <h2>Enter your credentials</h2>
            @if(ViewData.ModelState.Any(x => x.Key == string.Empty &&( x.Value?.Errors.Count > 0)))
            {
                <h2 class="error">Invalid login attempt</h2>
            }

            <div class="input login-margin">
                <input class="input_field" type="email" autocomplete="username" aria-required="true" asp-for="Email"
                       placeholder=" " />
                <span class="input_label">
                    <img src="~/images/icons/user/user-yellow.svg" class="input_icon" />
                    Email
                </span>
                <span asp-validation-for="Email" class="error"></span>
            </div>

            <div class="input login-margin">
                <input class="input_field" type="password" autocomplete="current-password" aria-required="true" asp-for="Password"
                       placeholder=" " />
                <span class="input_label">
                    <img src="~/images/icons/lock/lock-yellow.svg" class="input_icon" />
                    Password
                </span>
                <span asp-validation-for="Password" class="error"></span>
            </div>

            <div class="remember-me-container">
                <input type="checkbox" id="remember" class="remember-me-login" asp-for="RememberMe">
                <label class="remember-label">Remember me</label>
            </div>

            <button class="btn-with-icon" type="submit">
                Log in
                <img src="~/images/icons/log-in/log-in.svg">
            </button>

        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}