@using catering.Application.Managements.OfferManagment;
@model ProductDto
<h1>Add Products</h1>

<hr />


<div class="main-admin">

	<div class="left-icon-panel-admin">
	</div>

	<button onclick="openModalAdmin()">Add new product</button>


	<div id="myModal" class="modal-admin">
		<div class="modal-content-admin">
			<span class="close-admin" onclick="closeModalAdmin()">&times;</span>
			<h2 class="modal-title-admin">Create new product</h2>
			<form asp-action="Create" enctype="multipart/form-data">
				<div class="form-group-admin">
					<label asp-for="Name" class="control-label"></label>
					<input asp-for="Name" class="form-control" type="text" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>

				<div class="form-group-admin">
					<label asp-for="Price" class="control-label"></label>
					<input asp-for="Price" class="form-control" />
					<span asp-validation-for="Price" class="text-danger"></span>
				</div>

				<div class="form-group-admin">
					<label asp-for="Description" class="control-label"></label>
					<input asp-for="Description" class="form-control" type="text" />
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>

				<div class="form-group-admin">
					<label asp-for="ImageFile" class="control-label"></label>
					<input asp-for="ImageFile" class="form-control" accept="image/*" />
					<span asp-validation-for="ImageFile" class="text-danger"></span>
				</div>
				<div class="buttons-admin">
					<button class="cancel-admin" onclick="closeModalAdmin()">Cancel</button>
					
					<div class="form-group mb-3">
						<input type="submit" value="Create" class="btn btn-primary" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>

	function openModalAdmin() {
		document.getElementById("myModal").style.display = "block";
	}

	function closeModalAdmin() {
		document.getElementById("myModal").style.display = "none";
	}
</script>
@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
	}
}