/*Button with icon*/
.btn-with-icon {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px 50px;
    border-radius: 15px;
    background-color: var(--light-yellow);
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9em;
  }
  
  .btn-with-icon img {
    margin-left: 10px;
    width: 20px
  }
  
  .btn-with-icon:hover{
    background-color: var(--main-color);
  }


/*A without icon*/
.btn-no-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 15px;
  background-color: var(--light-yellow);
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  color: var(--grey);
  text-decoration: none;
}

.btn-no-cta img {
  margin-left: 10px;
  width: 20px
}

.btn-no-cta:hover {
  background-color: var(--main-color);
}