.input {
    position: relative;
    display: block;
    margin-bottom: 20px;
  }
  
  .input_field {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: none;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    transition: border-bottom-color 0.3s ease;
    caret-color: var(--main-color);
  }
  
  .input_field:focus {
    outline: none;
    border-bottom-color: var(--light-grey);
  }
  
  .input_label {
    padding: 0 5px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #999;
    pointer-events: none;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  }
  
  .input_icon {
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
  }
  
  .input_field:focus + .input_label,
  .input_field:not(:placeholder-shown) + .input_label {
    top: -8px;
    font-size: 12px;
    color: var(--light-grey);
  }
  
  .input_field:focus + .input_label .input_icon {
    transform: scale(0.8);
  }