.orderdetails-listtitle {
  padding-left: 4em;
}

.orders-section {
  display: flex;
}

.orders-list {
  width: 75%;
  padding: 4em;
  padding-top: 1em;
}

.order-item {
  display: flex;
  margin-bottom: 20px;
  border-bottom: solid 1px #e1e1e1;
  padding-bottom: 0.8em;
}

.orderdetails-image-container {
  margin-right: 20px;
  height: 140px;
}

.orderdetails-image {
  width: 140px;
  height: 140px;
}

.orderdetails-content {
  flex: 1;
}

.orderdetails-details {
  margin-left: 20px;
}

.orderdetails-title {
  display: inline-block;
  margin: 0;
}

.orderdetails-dot {
  display: inline-block;
  position: relative;
  transform: translateY(-15%);
}

.orderdetails-yellow-title {
  color: var(--light-yellow);
}

.orderdetails-new-line {
  display: block;
}

.orderdetails-date-from {
  font-size: 14px;
  margin: 5px 0;
  display: inline-block;
}

.orderdetails-date-to {
  font-size: 14px;
  margin: 5px 0;
  display: inline-block;
}

.orderdetails-meals {
  margin-top: 0.5em;
  margin-right: 3em;
}

.orderdetails-meal-time {
  position: relative;
  left: -0.3em;
  top: -5em;
  font-size: 14px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  display: inline-block;
  line-height: 1.7em;
  margin-left: 0.5em;
  padding: 0em 0.3em;
  margin-top: 0.5em;
}

.orderdetails-top-line {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  top: -4.3em;
}

.orderdetails-delete-icon {
  position: relative;
  top: 0.3em;
  right: 0em;
}
.orderdetails-days {
  font-size: 14px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  display: inline-block;
  line-height: 1.7em;
  margin-left: 0.5em;
  padding: 0em 0.3em;
}

.orderdetails-price-per-day {
  font-weight: bold;
  text-align: right;
  font-size: 14px;
  margin: 0;
}

.orderdetails-summary-price {
  font-weight: bold;
  text-align: right;
  font-size: 20px;
  line-height: 10px;
  margin: 0;
}

.orderdetails-calendar {
  position: relative;
  top: 0.3em;
  display: inline-block;
  height: 15px;
  width: 25px;
  margin-right: 0px;
}

.orderdetails-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.orderdetails-delete-button {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-right: 15%;
}

.orderdetails-delete-button {
  cursor: pointer;
}

.orderdetails-buttons::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 10px;
}

.orderdetails-buttons:last-child::before {
  display: none;
}

.orderdetails-cancel-button-section {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}

.orderdetails-cancel-icon {
  position: relative;
  top: 0.35em;
}

.orderdetails-cancel-button {
  all: unset;
  cursor: pointer;
  padding: 0.5em 1em;
  padding-top: 0.2em;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
}

.orderdetails-link-delete-button {
  all: unset;
  cursor: pointer;
}

.summary-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  background-color: #f7f7f7;
  width: 340px;
  max-width: 380px;
  height: 450px;
  margin-left: auto;
  margin-right: 4em;
  position: sticky;
  top: 120px;
  background-color: white;
  z-index: 0;
}

.summary-title {
  font-size: 1.5em;
  padding-bottom: 0.2em;
  padding-left: 0.1em;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}

.summary-title-codes {
  font-size: 1.5em;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}

.summary-prices {
  font-size: 0.8em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.summary-price-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 7%;
}

.summary-total-price {
  color: var(--main-color);
}

.summary-price-left p {
  line-height: 1.5em;
}

.summary-price-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.summary-price-right p {
  line-height: 1.5em;
}

.summary-price-item {
  font-size: 1.5em;
}

.summary-discount-section {
  margin-bottom: 10px;
  display: inline;
  flex-direction: column;
  position: relative;
  left: -0.6em;
  justify-content: center;
}

@media (max-width: 1623px) {
  .summary-discount-section {
    left: -0.5em;
  }
}

@media (max-width: 1523px) {
  .summary-discount-section {
    left: -0.3em;
  }
}

.summary-discount-input {
  padding: 8px 10px;
  width: 200px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  width: 65%;
  margin: 0 auto;
}

.summary-apply-button {
  margin-top: 10px;
  padding: 9px 9px;
  margin-bottom: 30px;
  background-color: var(--light-yellow);
  font-weight: bold;
  color: #000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 30%;
  transition: background-color 0.3s ease;
}

.summary-discount-applied-code {
  display: flex;
  align-items: center;
  padding-bottom: 1.5em;
}

.summary-discount-applied-code-image {
  margin-right: 5px; 
}

.summary-button {
  padding: 15px 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: var(--light-yellow);
  font-weight: bold;
  color: #000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: background-color 0.3s ease;
}

.summary-button:hover {
  background-color: var(--main-color);
}

.summary-apply-button:hover {
  background-color: var(--main-color);
}

@media (max-width: 1023px) {
  .summary-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    width: 380px;
    max-width: 380px;
    height: 450px;
    margin-left: auto;
    margin-right: 2em;
  }

  .summary-title {
    font-size: 1.5em;
    padding-bottom: 0.2em;
    padding-left: 0.1em;
    width: 87%;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
  }

  .summary-discount-section {
    margin-bottom: 10px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-right: 0em;
  }

  .orderdetails-delete-button {
    display: inline-block;
    position: relative;
    left: -2.7em;
    min-width: 88px;
  }

  .summary-price-left {
    position: relative;
    left: -110%;
  }

  .summary-prices {
    position: relative;
    right: -6em;
  }

  .summary-button {
    width: 40%;
  }

  .orders-section {
    flex-direction: column;
  }

  .orders-list {
    width: 100%;
  }

  .summary-section {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    align-self: flex-start;
  }
}

@media (max-width: 768px) {
  .orderdetails-calendar {
    width: 18px;
    height: 18px;
  }

  .orderdetails-calendar-icon {
    position: relative;
    top: -0.1em;
    width: 20px;
    height: 20px;
  }

  .order-item {
    padding-bottom: 3em;
  }

  .orderdetails-summary-price {
    padding-top: 15px;
    font-size: 20px;
  }

  .orderdetails-delete-button {
    display: inline-block;
    position: relative;
    top: 2.2em;
    left: -4.5em;
    min-width: 88px;
  }
}

@media (max-width: 500px) {
  .orderdetails-summary-price {
    position: relative;
    top: 6em;
  }

  .orderdetails-price-per-day {
    position: relative;
    top: 9em;
  }

  .orderdetails-dot {
    display: none;
  }

  .orderdetails-meals {
    position: relative;
    top: 1.5em;
    left: -11.2em;
  }
}

@media (max-width: 442px) {
  .orderdetails-delete-button {
    top: 2.2em;
    padding-right: 3em;
  }

  .orderdetails-dot {
    display: none;
  }

  .orderdetails-meals {
    position: relative;
    top: -2.5em;
    left: -11em;
  }
}

@media (max-width: 400px) {
  .orderdetails-delete-button {
    left: -5.5em;
  }
}

/*Modal*/
.order-modal-container {
  background: rgb(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ease;
}

.order-modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.order-modal {
  background: #ffffff;
  border-radius: 20px;
  width: 918px;
  height: 420px;
  margin: 15px;
}
.order-modal-button-container {
  display: flex;
  justify-content: flex-end;
}
.order-close-modal {
  width: 30px;
  height: 30px;
  margin: 10px 10px 0 0;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
}

.modal-sections-container {
  display: flex;
}

.left-section {
  flex: 1;
  padding: 10px 15px 0 15px;
}

.right-section {
  flex: 1;
  padding: 10px 15px 0 15px;
  display: flex;
  flex-direction: column;
}

.upper-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.lower-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vertical-line {
  width: 1px;
  height: 360px;
  background-color: #e1e1e1;
}
.horizontal-line {
  width: auto;
  height: 1px;
  background-color: #e1e1e1;
}

.order-modal-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: var(--gray);
}

.order-modal-p {
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: var(--gray);
}

.order-content-login {
  margin-top: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-input {
  position: relative;
  display: block;
  margin-bottom: 20px;
  width: 330px;
}

.order-remember-me-container {
  display: flex;
  align-items: center;
  width: 330px;
}



@media (max-width: 920px) {
  .vertical-line {
    display: none;
  }
  .modal-sections-container {
    flex-direction: column;
    padding: 0 15px 0 15px;
  }
  .order-modal {
    width: auto;
    height: auto;
  }

  .horizontal-line-for-mobiles {
    width: auto;
    height: 1px;
    background-color: #e1e1e1;
  }

  .left-section {
    margin-bottom: 15px;
    padding: 0;
  }
  .lower-section {
    margin: 10px 0 15px 0;
  }
}
