.center-container-register {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.content-register {
    width: 800px;
    height: 550px;
}


.register-inputs-container{
  display: flex;
}

.register-left-section{
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-right-section{
  flex: 1;
  margin-top: 74px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-two-in-one-inputs{
  display: flex;
}

.register-small-input{
  width: 172px;
}

.register-input{
  width: 351px;
}

.logo-register {
    margin-bottom: 5px;
}


.register-title{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.register-btn-conteiner{
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 0 0;
}

@media (max-width: 760px){
  .register-inputs-container{
    flex-direction: column;
  }
  .register-btn-conteiner{
    justify-content: center;
  }
}

@media (max-width: 400px){
  .register-two-in-one-inputs{
    flex-direction: column;
  }

  .register-small-input{
    width: auto;
  }
  
  .register-input{
    width: auto;
  }
}
