
.center-container-user-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-user-panel {
  width: 950px;
  padding-top: 80px;
  padding-bottom: 70px;
}

.user-panel-inputs-container {
  display: flex;
}

.left-icon-panel-user {
  position: absolute;
  left: 2vh;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 35px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #e6eaed;
  z-index: 1;
}

.icon {
  margin-left: 25px;
  margin-bottom: 25px;
}

.icon img {
  width: 35px;
  height: 35px;
  transition: filter 0.3s ease-in-out; 
}

.user-left-panel-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.hidden-user-panel {
  display: none;
}

.account-info-title-user-panel-div {
  position: relative;
  top: -30px;
  border-bottom: 1px solid #8b8b8b;
}


.account-info-title-user-panel {
  font-size: 40px;
  font-weight: 400;
  position: relative;
  top: -5px;
  right: 0px;
}

.user-panel-left-section {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-panel-right-section {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-panel-two-in-one-inputs {
  display: flex;
}

.user-panel-small-input {
  width: 205px;
  margin-bottom: 15px;
}

.user-panel-input {
  width: 420px;
  margin-bottom: 15px;
}

.user-panel-inputs-container .input_field {
  font-size: 20px;
}

.user-panel-inputs-container .input_label {
  font-size: 20px;
}

.logo-user-panel {
  margin-bottom: 5px;
}

.user-panel-title {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
}

.user-panel-paragraph {
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  line-height: normal;
  margin: 10px 0 10px 0;
}
.right-user-panel-paragraph {
  margin-bottom: 34px;
}

.user-panel-btn-conteiner {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 0 0;
}

@media (max-width: 890px) {
  .user-panel-inputs-container {
    flex-direction: column;
  }
  .user-panel-btn-conteiner {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .user-panel-two-in-one-inputs {
    flex-direction: column;
  }

  .user-panel-small-input {
    width: auto;
  }

  .user-panel-input {
    width: auto;
  }
}


/* products section user-panel */
.main-user-panel {
  display: flex;
  width: 131vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 8vh;
}

.div-actions-user-panel {
  width: 131vh;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.search-bar-user-panel {
  width: 30vh;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
}

.div-search-bar-user-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 131vh;
  padding: 15px 15px 15px 0;
}

.counter-container-user-panel {
  display: flex;
  align-items: center;
}

.search-counter-user-panel,
.search-counter-results-user-panel {
  padding-left: 20px;
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
}

.search-counter-results-user-panel {
  padding-left: 3px;
}

.title-user-panel {
  display: inline-block;
  font-weight: normal;
}

.create-button-user-panel {
  display: inline-block;
  border: none;
  background-color: var(--light-yellow);
  border-radius: 10px;
  padding: 8px;
  padding-top: 4px;
  cursor: pointer;
  outline: none;
  position: relative;
  top: -5px;
}

.create-button-user-panel img {
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
}

.div-with-table-user-panel {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 8vh;
}


/*table user-panel*/

.table-div-user-panel {
  overflow: auto;
  height: 420px;
}

table {
  width: 131vh;
  border-collapse: collapse;
}

th,
td {
  padding: 6.1vh;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 5vh;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  width: 22vh;
  max-width: 22vh;
}

th {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--light-grey);
}

thead th {
  position: sticky;
  top: 0;
  background-color: #E6EAED;
  z-index: 1;
}

.table-div2-user-panel th, td {
  width: 20vh;
  max-width: 16.5vh;
}

.table-div2-user-panel {
  padding-bottom: 21vh;
}

.delete-button-user-panel {
  background-color: var(--light-yellow);
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 8px 8px;
  padding-top: 4px;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  z-index: 0;
}

.delete-button-user-panel:hover {
  background-color: var(--main-color);
}

.delete-button-user-panel img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}

.expand-button-user-panel {
  background-color: var(--light-yellow);
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 8px 8px;
  padding-top: 4px;
  position: relative;
  left: -0px;
  cursor: pointer;
  font-weight: bold;
  z-index: 0;
}

.expand-button-user-panel img{
  position: relative;
  top: 3px;
}

.order-details {
  display: none;
}

td:hover {
  white-space: normal; 
  overflow: visible;
  position: relative;
  z-index: 0;
}

td:hover::after {
  content: attr(data-text); 
  position: absolute;
  top: 0;
  left: 0;
  background-color: white; 
  padding: 10px;
  max-width: 340px; 
  overflow: auto;
}

th:hover {
  white-space: normal; 
  overflow: visible;
  position: relative;
  z-index: 0;
}

th:hover::after {
  content: attr(data-text); 
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  max-width: 340px; 
  overflow: auto;
}